body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.content-1, .content-2, .content-3, .content-4 {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background: #1F2937;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

li {
  display: flex;
  gap: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}

.content-1 {
  background: #1F2937;
  display: flex;
  gap: 50px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 10px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
  margin-bottom: 10px;
}

button{
  border-radius: 8px;
  width: 125px;
  height: 40px;
  background-color: #3882f6;
  border-width: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #f9faf8;
}
.content-2{
  flex-direction: column;
}
.information-header{
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 50px;
}

.img-subtext{
  font-size: 18px;
  font-weight: normal;
  color: #1f2937;
  text-align: center;
}
.images {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}
.img-container {
  display: flex;
  height: 200px;
  width: 200px;
  flex-direction: column;

}
.content-3{
  background: #e5e7eb;
  flex-direction: column;
  align-items: end;
}

.quote-text{
  font-size: 36px;
  font-style: italic;
  font-weight: 50;
  color: #1F2937;
  margin-bottom: 30px;
}

.quote-author{
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
}

.signup-container{
  border-radius: 8px;
  background-color: #3882f6;
  flex: auto;
  height: 80px;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-main {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.signup-secondary, .copyright {
  color: #e5e7eb;
  font-size: 18px;
}

.content-4 button{
  border-width: 2px;
  border-color: #f9faf8;
}

.footer {
  padding: 30px;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header, .content-1, .content-2, .content-3, .content-4, .footer {
  padding-left: 150px;
  padding-right: 150px;
}



img {
  max-width: 50%;
  height: auto;
}

.img-container img {
  max-width: 100%;
  margin-bottom: 5px;
}